:root {
    --preto: #06070b;
    --cinza: #2b2e3f;
    --branco: #ffffff;
    --vermelho: #FF0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* elemetos base*/

body {
    background: var(--cinza);
    font-family: 'Arial', Times, serif;
    color: #ffffff;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Balck', Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: var(--branco);
    margin: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.menu {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header nav a:hover {
    color: #FF0000;
}


/* Banner Pincipal*/


.filme-principal {
    font-size: 16px;
    height: 650px;
    background-image: linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)), url(/img/FKC5caUVIAYKE4y-scaled.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao {
    margin-bottom: 80px;
    margin-top: 10px;
    margin-left: 15px;
}

.filme-principal .container {
    width: 80%;
}

.titulo {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    margin-left: 15px;
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    padding: 15px 40px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.4s ease all;
}

.botao:hover {
    background-color: #ffffff;
    color: #06070b;
}

.botao i {
    margin-right: 8px;
}

/* Estilo Perfil*/
.modal-dialog {
    color: #2b2e3f;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

/*Perfil de usuario*/

#fotoperfil{
    background-image: url("/img/scale\ \(6\).png");

}



/* Dados do filme*/

.carrosel-filme {
    margin-left: 5px;
}

.box-filme {
    width: 100%;
    transform: scale(1);
    transition: all ease 0.2s;
    cursor: pointer;
}

.box-filme:hover {
    transform: scale(1);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2px
}

.box-filme {
    margin: 8px;
    width: 300px;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
}