:root {
    --preto: #06070b;
    --cinza: #2b2e3f;
    --branco: #ffffff;
    --vermelho: #FF0000;



}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* elemetos base*/

body {
    background: var(--cinza);
    font-family: 'Arial', Times, serif;
    color: #ffffff;

}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Balck', Times;
    font-size: 40px;
    margin-left: 5px;

}

header nav a {
    text-decoration: none;
    color: var(--branco);
    margin: 10px;
}



header nav a:hover {
    color: #FF0000;
}



/* BANNER E INFO PRINCIPAL*/
.filme-principal {
    font-size: 20px;


}



.filme-principal {
    margin-bottom: 40px;
}



.descricao {
    margin-left: 15px;
    justify-content: center;


}


.img_bg {

    height: 700px;
    background-size: cover;

}

.botoes {
    margin: 15px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}



/* Dados do filme*/

.carrosel-filme {
    margin-left: 5px;
    margin: auto;

}

.box-filme {
    width: 100%;
    transform: scale(1);
    transition: all ease 0.2s;
    cursor: pointer;

}

.box-filme:hover {
    transform: scale(1);
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2px
}



.botao {
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease all;

}

.botaoinfo {
    background-color: #ffffff;
    border-radius: 5px;
    color: black;
    padding: 15px 30px;
    margin-right: 15px;
    cursor: pointer;
    transition: .3s ease all;
}

.botaoinfo:hover {
    background-color: #8a8c8d;
}

.botao:hover {
    background-color: #8a8c8d;
}

.botao i {
    margin-right: 8px;
}

.botaoinfo i {
    margin-right: 8px;
}

.container {
    display: inline-block;
    position: relative;
}




/*fundo da capa do filme*/

.box-filme {
    margin: 8px;
    width: 450px;
    height: 100%;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}

.img_banner {
    width: 720px;
    height: 450px;


}




.catfilmes {
    margin: 5px;
}

.pfbutton {
    margin: 2px;
    cursor: pointer;
    border-radius: 100%;


}

.pfbutton:hover {
    box-shadow:
        1px 1px #53a7ea,
        2px 2px #53a7ea,
        3px 3px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}